@import "./variables";
@import "./global";
@import"./responsive";
.footer-container{
    @extend .flex;
    justify-content: space-between;
    margin: 100px 60px 30px;
    @include tablet{
        display: flex;
       
        flex-direction: column;
    }
    .f-box{
        @include tablet{
            margin-bottom: 20px;
           
        }
    a{
        display: flex;
        flex-direction: column;
        color: $gray;
        font-size: 12px;
        margin-top: 10px;
        @extend .transition;
        &:hover{
            color: $main-color;
            transform: translateY(-2px);
        }
    }
    h6{
        color: $text-color;
        font-size: 15px;
    }
    }

    .socialM{
        width: 300px;
        height: 100px;
        h6{
            margin-bottom: 8px;
            font-size: 13px;
        }
       a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        height: 30px;
        width: 30px;
        background-color: #1D1D1D;
        border-radius: 50%;
        color: $text-color;  
        @extend .transition;     
        &:hover{
            color: $main-color;
            transform: translateY(-2px);
        }
       }
    }

}

.copyright {
    text-align: center;
    color: #979797;
    font-size: 12px;
    padding: 20px;
  }

